Q 1 Create a Pandas series that contains the following data : 4,8,15,16,23,42. Then , print the series.

In [1]:
import pandas as pd

In [2]:
data = [4,8,15,16,23,42]

In [5]:
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q 2 Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [12]:
my_list = pd.Series([1,2,3,4,5,6,7,8,9,10] , index = ['a','b','c','d','e','f','g','h','g','h'])
print(my_list)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
g     9
h    10
dtype: int64

Q 3 Create a Pandas DataFrame that contains the following data:
then print the dataFrame.

In [7]:
import pandas as pd

In [22]:
df = pd.DataFrame({"Name" : ['Alice', 'Bob' , 'Claire'],
                   "Age" : [25, 30, 27],
                   "Gender" : ['Female', 'Male', 'Female']},index = ['a','b','c',]
                 )

In [23]:
df

     Name  Age  Gender
a   Alice   25  Female
b     Bob   30    Male
c  Claire   27  Female

Q 4 What is 'DataFrame' in pandas and how is it different from pandas.series? Explain with an example.

In pandas, a DataFrame is a two-dimensional tabular data structure that represents data in rows and columns, similar to a spreadsheet or a SQL table. It is one of the most commonly used data structures in pandas and allows you to work with structured data efficiently. A DataFrame can store heterogeneous data types and is very flexible for data manipulation and analysis.

On the other hand, a Series is a one-dimensional labeled array, also provided by pandas. It can be thought of as a single column of data, similar to a list or a NumPy array, but with an additional index that provides labels for each element in the Series. A DataFrame is essentially a collection of Series, where each Series represents a column in the DataFrame.

Here's a more detailed explanation with an example:

Pandas Series Example:
Let's say we want to create a pandas Series to represent the ages of students in a class:

In [24]:
import pandas as pd

# Create a pandas Series representing ages of students
ages = pd.Series([20, 22, 21, 19, 23])

print(ages)

0    20
1    22
2    21
3    19
4    23
dtype: int64

In this example, we created a pandas Series named ages, which stores the ages of students. The index of the Series (0, 1, 2, 3, 4) represents the default integer-based index, and the values (20, 22, 21, 19, 23) represent the age data.

Pandas DataFrame Example:
Now, let's create a pandas DataFrame that includes both the ages and names of students:

In [26]:
import pandas as pd

# Create a dictionary with data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [20, 22, 21, 19, 23]
}

# Create a pandas DataFrame
df = pd.DataFrame(data)

print(df)

      Name  Age
0    Alice   20
1      Bob   22
2  Charlie   21
3    David   19
4      Eve   23

In this example, we created a pandas DataFrame named df. It consists of two columns: 'Name' and 'Age'. The 'Name' column contains the names of students, and the 'Age' column contains their respective ages. The index (0, 1, 2, 3, 4) again represents the default integer-based index.

In summary, a pandas Series is a one-dimensional labeled array, whereas a pandas DataFrame is a two-dimensional tabular data structure consisting of multiple Series, each representing a column. A DataFrame is suitable for representing and analyzing structured data with multiple attributes, whereas a Series is better for handling single columns or one-dimensional data.

Q 5 What are some common functions you can use to manipulate data in a pandas DataFrame? can you give an example of when you might use one of these functions?

Ans - Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions:

Filtering Data: You can use functions like loc and iloc to filter rows and columns based on certain conditions.
Example:

In [34]:
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [20, 22, 21, 19, 23],
    'Score': [85, 90, 78, 92, 80]
}
df = pd.DataFrame(data)

# Filter rows with Age greater than 20
filtered_df = df.loc[df['Age'] > 20]
print(filtered_df)

      Name  Age  Score
1      Bob   22     90
2  Charlie   21     78
4      Eve   23     80

Sorting Data: You can use the sort_values function to sort the DataFrame based on one or more columns.
Example:

In [35]:
import pandas as pd

# Assuming df is the DataFrame from the previous example

# Sort the DataFrame based on the 'Age' column in descending order
sorted_df = df.sort_values(by='Age', ascending=False)
print(sorted_df)

      Name  Age  Score
4      Eve   23     80
1      Bob   22     90
2  Charlie   21     78
0    Alice   20     85
3    David   19     92

Grouping Data: You can use groupby to group data based on certain columns and perform aggregate functions on each group.
Example:

In [36]:
import pandas as pd

# Assuming df is the DataFrame from the previous example

# Group data by 'Age' and calculate the average 'Score' for each age group
grouped_df = df.groupby('Age')['Score'].mean()
print(grouped_df)

Age
19    92.0
20    85.0
21    78.0
22    90.0
23    80.0
Name: Score, dtype: float64

Adding/Removing Columns: You can add new columns or drop existing ones using DataFrame assignment or the drop function.
Example:

In [37]:
import pandas as pd

# Assuming df is the DataFrame from the previous example

# Add a new column 'Grade'
df['Grade'] = ['A', 'B', 'C', 'A', 'B']

# Remove the 'Score' column
df = df.drop(columns='Score')
print(df)

      Name  Age Grade
0    Alice   20     A
1      Bob   22     B
2  Charlie   21     C
3    David   19     A
4      Eve   23     B

These are just a few examples of the many functions available in pandas to manipulate data in a DataFrame. Depending on your data analysis needs, pandas provides numerous other functions for data cleaning, merging, reshaping, and more.

Q 6 Which of the following is mutable in nature Series, DataFrame, Panel?

Ans - Among the options provided (Series, DataFrame, Panel), both Series and DataFrame are mutable in nature, whereas Panel is not mutable.

(1) Series: A Series is mutable, meaning you can modify its values, reassign values, or add/remove elements after creation.

(2) DataFrame: A DataFrame is also mutable. You can change the values in its cells, add or remove rows/columns, and perform various operations to modify the data it contains.

(3) Panel: Panel was a data structure in earlier versions of pandas, intended to handle three-dimensional data. However, it has been deprecated since pandas version 0.25.0, and you should avoid using it in favor of other data structures like Series and DataFrame. Nevertheless, I'll mention that Panel was mutable, just like DataFrame.

To summarize, both Series and DataFrame are mutable data structures in pandas, while Panel, though deprecated, was also mutable when it was still part of pandas.

Q 7 Create a DataFrame using multiple Series. Explain with an example.

Ans - To create a DataFrame using multiple Series, you can use the pd.DataFrame() constructor in pandas. Each Series will represent a column in the DataFrame. The length of all the Series should be the same, as they will be aligned based on their index to form the DataFrame. Here's an example:

In [38]:
import pandas as pd

# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Eve'])
ages = pd.Series([20, 22, 21, 19, 23])
scores = pd.Series([85, 90, 78, 92, 80])

# Combining the Series into a DataFrame
df = pd.DataFrame({'Name': names, 'Age': ages, 'Score': scores})

# Print the DataFrame
print(df)

      Name  Age  Score
0    Alice   20     85
1      Bob   22     90
2  Charlie   21     78
3    David   19     92
4      Eve   23     80